<h1>Edit your profile</h1>

<form action="/trainers" method="POST">
  <input type="text" name="trainer[gender]" placeholder="Boy/Girl"><br>
  <input type="text" name="trainer[name]" placeholder="Name"><br>
  <input type="text" name="trainer[email]" placeholder="Email"><br>
  <input type="password" name="trainer[password]" placeholder="Password:"><br>
  <input type="submit" value="Let's go!">
</form>
